*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
      font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: #0B0C10;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

#header1 #ul1 li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 50px;
    font-size: 16px;
    color: #C5C6C7;
    width: 100%;
    transition: color 0.4s;
}

#header1 #ul1 span{
    display: none;
}
#header1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    align-items: center;
    width: 60px;
    background-color: #1F2833;
    height: 100vh;
    transition: width 0.15s ease-in;
    overflow: hidden;
    padding: 20px 0;
    z-index: 30000;
}
#header1 li i{
    font-size: 24px;
        display: flex;
    align-items: center;
    justify-content: center;
}
#header1 #ul1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header1 #ul1 li{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0px 20px;
    margin-bottom: 20px;
    transition: background-color 0.4s;
}

#header1:hover {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    right: 0;
    width: 270px;
    background-color: #1F2833;

}
#header1:hover #ul1>li{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#header1:hover #ul1>li>a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: #C5C6C7;
    width: 100%;
}
#header1:hover #ul1>li>a>span{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#header1:hover #ul1>li>a>i{
    padding-left: 10px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header1>#ul1>li:hover{
    background-color:#0B0C10;
    color: #45A29E
}
#header1>#ul1>li:hover a{
    color: #45A29E
}
#everything{
    width: calc(100% - 60px);
    z-index: 20000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 35px;
}
#navigation, #navigation #ul2{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#ul2 h1{
    color: #C5C6C7;
}
#ul2 #btninsc{
    color: #C5C6C7;
    background-color: #1F2833;
    padding: 5px 10px;
    border-radius: 8px;

}
#ul2 #btnconn{
    color: #0B0C10;
    background-color: #45A29E;
        padding: 5px 15px;
border-radius: 8px;
margin-left: 10px;
}

#divsearch{
    display: flex;
    align-items: center;
    background-color: #C5C6C7;
    width: 225px;
    justify-content: space-between;
    padding: 0px 0px;
    border-radius: 8px;
    padding: 2px 5px;
            color: #1F2833;

}
#divsearch input{
        background-color: #C5C6C7;
        padding: 5px 15px;
        border: none;
        outline: none;
        font-size: 0.9rem;
        color: #1F2833;
}

#divsearch button{
    padding: 5px;
    border: none;
    cursor: pointer;
    background-color: #C5C6C7;
            color: #1F2833;

}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
#content #bigtitle{
    text-align: center;
    color: #C5C6C7;
    font-size: 1.8rem;
    margin: 14px 0px;
    width: 60%;
}

#content #bigtitle span{
     color: #45A29E;
   
}
#content .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
#content .cardsoutils{
    width: 28%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2833;
    justify-content: space-between;
    min-height: 400px;
    text-align: center;
    border-radius: 12px;
    padding: 40px 20px;
    transition: background-color 0.4s;

}
.cardsoutils h1{
    color: #45A29E;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: color 0.4s;
}
.cardsoutils h2{
    font-size: 1.1rem;
    color: #C5C6C7;
        transition: color 0.4s;
}
.cardsoutils span{
    font-size: 1.5rem;
    color: #C5C6C7;
}
#i1, #i2, #i3{
    font-size: 4.3rem;
    color: #45A29E;
}
.cardsoutils a{
    padding: 8px 20px;
    color: #0B0C10;
    background-color: #45A29E;
        width: 80%;
border-radius: 12px;
    transition: color 0.4s, background-color 0.4s;

}
.cardsoutils a i{
    margin-left: 10px;
    transition: color 0.4s;
}
#content .cardsoutils:hover{
    background-color: #45A29E;
}
.cardsoutils:hover h1 span{
    display: none;
}
.cardsoutils:hover #i1,.cardsoutils:hover h1, .cardsoutils:hover h2, .cardsoutils:hover #i2, .cardsoutils:hover #i3{
    color: #1F2833;
}
.cardsoutils:hover a{
    background-color: #1F2833;
    color: #C5C6C7;
}
@media (max-width: 1124px) {

}
@media (max-width: 900px) {

}
@media (max-width: 750px){
    #header1{
        height: 130vh;
    }


#divsearch{
    display: flex;
    align-items: center;
    background-color: #C5C6C7;
    width: 150px;
    justify-content: space-between;
    padding: 0px 0px;
    border-radius: 8px;
    padding: 2px 5px;
            color: #1F2833;

}
#divsearch input{
        background-color: #C5C6C7;
        padding: 5px 10px;
        border: none;
        outline: none;
        font-size: 0.9rem;
        color: #1F2833;
        width: 120px;
}

#divsearch button{
    padding: 5px;
    border: none;
    cursor: pointer;
    background-color: #C5C6C7;
            color: #1F2833;

}
#btninsc{
    display: none;
}

}
@media (max-width: 650px){


}
@media (max-width: 570px){
    #content #bigtitle{
    text-align: center;
    color: #C5C6C7;
    font-size: 2rem;
    width: 100%;
}

    #divsearch{
        display: none;
    }


    #header1{
        height: 115vh;
    }
}