*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
      font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: #0B0C10;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

#header1 #ul1 li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 50px;
    font-size: 16px;
    color: #C5C6C7;
    width: 100%;
    transition: color 0.4s;
}

#header1 #ul1 span{
    display: none;
}
#header1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    align-items: center;
    width: 60px;
    background-color: #1F2833;
    height: 135vh;
    transition: width 0.15s ease-in;
    overflow: hidden;
    padding: 20px 0;
    z-index: 30000;
}
#header1 li i{
    font-size: 24px;
        display: flex;
    align-items: center;
    justify-content: center;
}
#header1 #ul1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header1 #ul1 li{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0px 20px;
    margin-bottom: 20px;
    transition: background-color 0.4s;
}

#header1:hover {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    right: 0;
    width: 270px;
    background-color: #1F2833;

}
#header1:hover #ul1>li{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#header1:hover #ul1>li>a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: #C5C6C7;
    width: 100%;
}
#header1:hover #ul1>li>a>span{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#header1:hover #ul1>li>a>i{
    padding-left: 10px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header1>#ul1>li:hover{
    background-color:#0B0C10;
    color: #45A29E
}
#header1>#ul1>li:hover a{
    color: #45A29E
}
#everything{
    width: calc(100% - 60px);
    z-index: 20000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 35px;
}
#navigation, #navigation #ul2{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#ul2 h1{
    color: #C5C6C7;
}
#ul2 #btninsc{
    color: #C5C6C7;
    background-color: #1F2833;
    padding: 5px 10px;
    border-radius: 8px;

}
#ul2 #btnconn{
    color: #0B0C10;
    background-color: #45A29E;
        padding: 5px 15px;
border-radius: 8px;
margin-left: 10px;
}

#divsearch{
    display: flex;
    align-items: center;
    background-color: #C5C6C7;
    width: 225px;
    justify-content: space-between;
    padding: 0px 0px;
    border-radius: 8px;
    padding: 2px 5px;
            color: #1F2833;

}
#divsearch input{
        background-color: #C5C6C7;
        padding: 5px 15px;
        border: none;
        outline: none;
        font-size: 0.9rem;
        color: #1F2833;
}

#divsearch button{
    padding: 5px;
    border: none;
    cursor: pointer;
    background-color: #C5C6C7;
            color: #1F2833;

}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    min-width: 600px;
    margin-top: 20px;
    color: #C5C6C7;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
}
#lines1{
    width: 100%;
    display: flex;
    justify-content: start;
    margin: 10px 0;
}
#lines1 button{
    width: 220px;
    color: #C5C6C7;
    height: 40px;
    background-color: #1F2833;
    border: none;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.1rem;
    cursor: pointer;
}
#gear-i{
    margin-left: 10px;
}
#lines2{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #1F2833;
    padding: 15px;
    border-radius: 8px;
    min-height: 300px;
    justify-content: space-between;
}
#lines2 #line1{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
#lines2 #line1 .buttonspomo h3{
    background-color: #C5C6C7;
    color: #1F2833;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}
#lines2 #line2, #lines2 #line3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#lines2 #line2 h1{
    font-size: 5rem;
}
#lines2 #line3 button{
    width: 180px;
    height: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    border-radius: 8px;
    font-size: 1.2rem;
    border: none;
    background-color: #45A29E;
    cursor: pointer;
}
#lines3{
    width: 100%;
    color: #45A29E;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
}
#lines3 h2{
        font-size: 1.2rem;

}
#lines4{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #C5C6C7;
        margin-bottom: 10px;
    padding: 10px 0;
}
#lines4 i{
    height: 30px;
    width: 30px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    background-color:#1F2833;
    color: #C5C6C7;
}
#lines5{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}
#task-i{
    margin-right: 10px;
    height: 30px;
    width: 30px;
    background-color: #1F2833;
    color: #C5C6C7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
#modify-i{
        margin-left: 10px;
    height: 30px;
    width: 30px;
    background-color: #1F2833;
    color: #C5C6C7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}
#add-i{
        margin-right: 10px;
    height: 30px;
    width: 30px;
    background-color: #1F2833;
    color: #C5C6C7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.tasks{
    border: 2px dashed #0B0C10;
    background-color: #C5C6C7;
    color: #1F2833;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
}
.tasks h3{
    display: flex;
    align-items: center;
}
#task2 h3{
    cursor: pointer;
}

#task2{
    display: flex;
    justify-content: center;
}
#lines6{
    width: 100%;
    padding: 10px 0;
    border-bottom: 2px solid #C5C6C7;
}
#lines7{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

#paramm{
    position: absolute;
    left: 50%;
    top: 280px;
    translate: -50% -50%;
    width: 100%;
    min-height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #C5C6C7;
    padding: 30px;
    border-radius: 12px;
    display: none;
}
.titlesss{
    color: #1F2833;
    text-align: start;
    align-self: self-start;
    height: 50px;
    display: flex;
    align-items: start;
}
.changing11{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.timeinputs{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
}
.labelsss{
    color: #1F2833;
    opacity: 0.5;
}
.inputtemps{
    text-align: center;
    height: 35px;
    border-radius: 8px;
    border: none;
    background-color: #1F2833;
    color: #C5C6C7;
}
.themesss{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.btnnsss{
    display: flex;
    align-items: center;
    width: 65%;
    min-width: 340px;
    justify-content: space-between;
}
.btnnsss button{
    width: 170px;
    background-color: #45A29E;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}
#ballcontainer{
    padding: 5px;
    position: relative;
    width: 60px;
    min-height: 30px;
    display: flex;
    align-items: center;
    background-color: #1F2833;
    border-radius: 20px;
    cursor: pointer;
}
#ballcontainer #ball{
    position: absolute;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    left: 10%;
    background-color: #C5C6C7;
}
input[type="color"] {
  width: 60px;
  height: 40px;
  border: 2px solid #1F2833;
  cursor: pointer;
  padding: 0;
  margin: 0;
}


@media (max-width: 1124px) {

}
@media (max-width: 900px) {

}
@media (max-width: 750px){
    #header1{
        height: 130vh;
    }


#divsearch{
    display: flex;
    align-items: center;
    background-color: #C5C6C7;
    width: 150px;
    justify-content: space-between;
    padding: 0px 0px;
    border-radius: 8px;
    padding: 2px 5px;
            color: #1F2833;

}
#divsearch input{
        background-color: #C5C6C7;
        padding: 5px 10px;
        border: none;
        outline: none;
        font-size: 0.9rem;
        color: #1F2833;
        width: 120px;
}

#divsearch button{
    padding: 5px;
    border: none;
    cursor: pointer;
    background-color: #C5C6C7;
            color: #1F2833;

}
#btninsc{
    display: none;
}

}
@media (max-width: 650px){


}
@media (max-width: 570px){
    #content #bigtitle{
    text-align: center;
    color: #C5C6C7;
    font-size: 2rem;
    width: 100%;
}

    #divsearch{
        display: none;
    }


    #header1{
        height: 115vh;
    }
}